


*Par [Abdoulaye Balde](https://www.linkedin.com/in/abdoulayegk/)*


# Jour 3:
* Préparation des données pour le Machine Learning
* Gérer les valeurs manquantes
* Convertir des données catégorielles en numériques avec (dummies * variable, label encoder, one hot encoding)
* Différencier les variable catégorielle nominale et ordinal
* Standardisation des données
* Exploration des données et visualisation avec matplotlib, seaborn et plotly

Source de Donnees: [Zindi Africa Inclusion Financière en Afrique
](https://zindi.africa/competitions/inclusion-financiere-en-afrique)

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv("/Train.csv")

In [ ]:
train.head()

In [ ]:
# distribution de la variable cible

train['bank_account'].value_counts()

In [ ]:
train['bank_account'].value_counts().plot(kind='bar')

In [ ]:
train['bank_account'] = train['bank_account'].map({'Yes':1, 'No':0})
train.head()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
train['location_type'].value_counts()

In [ ]:

sns.countplot(x=train['location_type'], hue='bank_account', data=train)

On peut dire que le numbre de personne dans la zone rule son les personnes qui ne possedent pas beaucoup de compte bancaire caparativment a la zone Urban

In [ ]:
# voir la distribution de l'education en fonction de bank account

sns.countplot(x=train['education_level'], hue='bank_account', data=train)
labels = ['Secondary education', 'No formal education',
       'Vocational/Specialised training', 'Primary education',
       'Tertiary education', 'Other/Dont know/RTA']
ax=plt.gca()
ax.set_xticklabels(labels=labels, rotation=70)

In [ ]:
train.head(3)

In [ ]:
train.shape

In [ ]:
train

In [ ]:
train.drop('uniqueid', axis=1, inplace=True)

In [ ]:
train= pd.get_dummies(train)

In [ ]:
train.shape

In [ ]:
train.head()

In [ ]:
y = train['bank_account']

In [ ]:
X = train.drop('bank_account',axis=1)

In [ ]:
X.head()

In [ ]:
y

Demo on how to apply get dummies sur toute la dataframe pour coder les variable objet.

In [ ]:
df = pd.DataFrame({
    'age': [10, 20, 23, 5, 20, 14],
    'height': [5, 7, 8, 4.1, 5.4, 5.4],
    'pet': ['dog', 'cat', 'cat', 'dog', 'cat', 'snake']
})
df

In [ ]:
pd.get_dummies(df)

# Selection des variables characteristique et la variable cible qui est target.

In [ ]:
X = train.drop('bank_account', axis=1)
y = train['bank_account']

In [ ]:
X.head()

In [ ]:
y.head()

# Division de donnee et donnee d'entrainement et donnee de test
Les donnees d'entrainement sont utiliser pour entrainer le model. <br>
les donnees de test sont utiliser pour verifier la performance du model.